.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul{
  background-color: skyblue;
  padding: 5px;
  margin: 0px;
}

.nav-right{
  text-align: center;
}

.logo{
  width: 45px;
  float: left;
  margin: 10px;
  border-radius: 50%;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.register, .product{
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top : 100px;
}

.inputBox{
  padding: 7px;
  display: block;
  margin: 25px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton{
  margin: 20px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border : 1px solid;
  cursor: pointer;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 10px;
  width: 150px;
}

.product-list ul{
  margin: 0;
}

.search-box{
  width: 400px;
  margin:20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}